---
import Redirect from "@icons/redirect.svg?raw";
import { Image } from "astro:assets";
import type { Project } from "../../interfaces";
import { lineBreakFormatter } from "../../utils/formatter";
import Chip from "../Common/Chip.astro";

type Props = Project;

const {
    title,
    description,
    technologies,
    show = true,
    href,
    urlImage
} = Astro.props;
---

{
    show && (
        <article class="bg-card-bg border-card-border animate-appear flex flex-col overflow-clip rounded-3xl border-[0.5px] shadow-lg transition-all delay-75 duration-500 hover:shadow-lg">
            <div class="overflow-hidden">
                <Image
                    class="aspect-video w-full object-cover object-left-top transition-transform duration-500 hover:scale-105"
                    src={urlImage}
                    alt={`foto portada de ${title}`}
                    width="880"
                    height="495"
                />
            </div>
            <div class="flex grow flex-col justify-between gap-2 p-4">
                <div>
                    <div class="flex items-center justify-between">
                        <h3 class="text-foreground/90 font-bold">{title}</h3>
                        <a
                            class="hover:text-accent/80 w-7 transition-colors duration-75 md:w-8"
                            href={href}
                            target="_blank"
                            rel="noreferrer noopener"
                        >
                            <Fragment set:html={Redirect} />
                        </a>
                    </div>
                    <p
                        class="text-foreground/80 my-6 leading-relaxed md:my-8"
                        set:html={lineBreakFormatter(description)}
                    />
                </div>
                <div>
                    <span class="text-foreground/90 text-sm font-semibold md:text-base">
                        Tecnologías:
                    </span>
                    <div
                        id="stack-container"
                        class="flex gap-2 overflow-x-auto pt-2 whitespace-nowrap md:flex-wrap md:overflow-x-visible"
                    >
                        {technologies.map((tech) => (
                            <Chip text={tech} />
                        ))}
                    </div>
                </div>
            </div>
        </article>
    )
}

<style>
    #stack-container {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #stack-container::-webkit-scrollbar {
        display: none;
    }
</style>
